/* button {
    cursor: pointer;
    padding: 16px 32px;
    background: linear-gradient(263.76deg, #7FFC8D -28.53%, #C6FA56 140.05%);
    border-radius: 16px;
    border: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #1E1F24;
}

button:hover {
    background: linear-gradient(263.76deg, #B8FFC0 -28.53%, #E1FDA4 140.05%);
} */
