@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'EudoxusSans';

  src: url('./assets/fonts/eudoxus-sans/EudoxusSans-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'EudoxusSans';

  src: url('./assets/fonts/eudoxus-sans/EudoxusSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'EudoxusSans';
  src: url('./assets/fonts/eudoxus-sans/EudoxusSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'EudoxusSans';
  src: url('./assets/fonts/eudoxus-sans/EudoxusSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'EudoxusSans';
  src: url('./assets/fonts/eudoxus-sans/EudoxusSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'EudoxusSans';
  src: url('./assets/fonts/eudoxus-sans/EudoxusSans-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

.font-edx-sans {
  font-family: EudoxusSans;
}

body {
  font-family: EudoxusSans;
}

.sidebarMenuItem:hover .iconWrapper {
  @apply brightness-0;
}

@layer components {
  .bg-primary-gradient {
    @apply bg-gradient-to-r from-primary-2 to-primary-1;
  }
  .bg-primary-gradient-2 {
    @apply bg-gradient-to-l from-[#7ffc8db8] to-[#c6fa56ba];
  }
  .hover\:bg-primary-gradient:hover {
    @apply bg-gradient-to-r from-primary-2 to-primary-1;
  }
  .btn {
    @apply bg-gradient-to-r from-primary-2 to-primary-1 hover:from-[#B8FFC0] hover:to-[#E1FDA4];
  }
}
